# Dependências
node_modules/
public.node_modules/

# Build / distribuição
dist/

# Pastas públicas geradas
public/
.public/

# Configurações de IDE / Editor
.vscode/

# Ferramentas e IA
.gemini/
.qodo/

# Arquivos locais / ambiente
*.local
.env
.env.local
.env.*.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Sistema operacional
.DS_Store
Thumbs.db
