@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #C5A57D;
  --secondary: #42000B;
}

@layer base {
  body {
    @apply font-['Poppins'] bg-white dark:bg-[#42000B] text-gray-900 dark:text-white transition-colors duration-300;
  }

  html {
    scroll-behavior: smooth;
  }
}

@layer components {
  .btn-primary {
    @apply bg-secondary dark:bg-primary text-primary dark:text-secondary font-bold py-3 px-8 rounded-[20px] transition-all transform hover:-translate-y-1 shadow-btn;
  }


  .section-content {
    @apply max-w-7xl mx-auto px-4 sm:px-6 lg:px-14 py-12 md:py-40 flex flex-col md:flex-row items-center justify-between gap-12 overflow-hidden;
  }
}